header.header.container
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='brevete,brevetes gratis,a1,a3a,a3b,a2a,a2b')
    meta(name='description', content='touring')

    script(async, crossorigin="anonymous", src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9734237812508928')
    a(href='/').header__home--link
        img.header__logo(src="/images/logo.png")
        h1.header__title DISEIM MTC
    ul.header__menu
        li
            a.header__menu-item(href="/") Inicio
 
