header.header.container
    a(href='/').header__home--link
        img.header__logo(src="/images/logo.png")
        h1.header__title DISEIM MTC
    ul.header__menu
        li
            a.header__menu-item(href="/") Inicio
